.container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.text__container {
  width: 60%;
}
.text__container h3 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.text__container p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1.5rem;
}

.text__buttons__container {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.gallery__container {
  margin-top: 6rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    margin-top: 0rem;
  }

  .image__container {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }
  .text__container {
    width: 100%;
  }
  .image__container {
    display: none;
  }
  .text__container h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
  }
}

@media (max-width: 600px) {
  .gallery__container {
    margin-top: 3rem;
    text-align: center;
  }
}
