.container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.exit__container {
  display: flex;
  gap: 1rem;
}

.exit__container button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: var(--background-light);
}

.exit__container button svg {
  color: olivedrab;
  font-size: 2rem;
  transition: all 0.3s ease;
}

.exit__container button svg:hover {
  cursor: pointer;
  color: rgb(211, 1, 1);
}

.text__container {
  width: 60%;
}
.text__container h3 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.text__container p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1.5rem;
}

.text__buttons__container {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.image__container img {
  border-radius: 1rem;
}

.gallery__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    margin-top: 0rem;
  }

  .image__container {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }
  .text__container {
    width: 100%;
  }
  .image__container {
    display: none;
  }
  .text__container h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
  }
}

@media (max-width: 600px) {
  .gallery__container {
    text-align: center;
  }
}
