.nav__wrapper {
  position: relative;
}

.logo__container img {
  padding-top: 0.5rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4%;
}

.menu__list__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list__container ul {
  display: flex;
  list-style-type: none;
}

.menu__list__container ul li {
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.navigation__button {
  display: none;
  z-index: 101;
}

.open__menu__container {
  padding: 2rem 4%;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  transform: translateY(-100%); /* Początkowa pozycja - poza ekranem */
  opacity: 0; /* Ukrycie kontenera */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Animacja przesunięcia i zanikania */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white; /* Dostosuj tło do swojej strony */
  z-index: 100;
}

.open__menu__container.active {
  transform: translateY(0); /* Przesunięcie do pierwotnej pozycji */
  opacity: 1; /* Ujawnienie kontenera */
}

.open__menu__container ul {
  list-style-type: none;
}

.open__menu__container li {
  margin-top: 1rem;
  font-size: 1.25rem;
}

@media (max-width: 1000px) {
  .navigation__button {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .menu__list__container ul {
    display: none;
  }
}

@media (max-width: 600px) {
  .logo__container img {
    width: 120px !important;
    height: 40px !important;
  }
}
