.nav__wrapper {
  position: relative;
}

.logo__container img {
  padding-top: 0.5rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4%;
}

.menu__list__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list__container ul {
  display: flex;
  list-style-type: none;
}

.menu__list__container ul li {
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.menu__list__container ul li a:hover {
  cursor: pointer;
  color: #664343;
}

.navigation__button {
  display: none;
  z-index: 101;
}

.open__menu__container {
  padding: 2rem 4%;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  opacity: 0; /* Początkowo niewidoczne */
  pointer-events: none; /* Wyłączamy interakcje, gdy menu nie jest aktywne */
}
.open__menu__container.active {
  opacity: 1; /* Włączenie widoczności */
  pointer-events: all; /* Aktywowanie interakcji, gdy menu jest otwarte */
}

.open__menu__container ul {
  list-style-type: none;
}

.open__menu__container li {
  margin-top: 1rem;
  font-size: 1.25rem;
}

@media (max-width: 1000px) {
  .navigation__button {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .menu__list__container ul {
    display: none;
  }
}

@media (max-width: 600px) {
  .logo__container img {
    width: 120px !important;
    height: 40px !important;
  }
}
