.baner__container {
  position: relative;
  width: 100%;
  overflow: hidden;

  aspect-ratio: 9 / 14;
  background: url("/mobile-baner.jpeg") no-repeat center top;
  background-size: cover;
}

/* Na desktopie i większych ekranach – poziome zdjęcie + pozioma proporcja */
@media (min-width: 769px) {
  .baner__container {
    aspect-ratio: 16 / 9;
    background-image: url("/desktop-baner.jpg");
    background-position: center top;
  }
}

/* Tekst – zostawiam prawie bez zmian */
.baner__text__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  color: black;
  width: 30%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem 2rem;
  z-index: 2;
}

.baner__text__container h1 {
  font-size: 1.35rem;
  padding: 0.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
}

/* Responsywność tekstu */
@media (max-width: 1200px) {
  .baner__text__container {
    width: 40%;
    padding: 2rem 1.5rem;
  }
  .baner__text__container h1 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .baner__text__container {
    width: 85%;
    padding: 1.8rem 1.2rem;
  }
  .baner__text__container h1 {
    font-size: 1.25rem;
  }
}
