.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-light);
}

.service__container {
  padding: 6rem 9%;
  width: 100%;
}

.service__container__header {
  text-align: center;
  font-size: 3rem;
  color: #664343;
}

.service__container__header::after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 1rem;
  height: 2px;
  width: 25%;
  background: #664343;
}

.service__content__container {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.service__item__container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.service__item__image__container {
  width: 90%;
}
.service__item__image__container:hover {
  cursor: pointer;
}

.service__item__image__container img {
  border-radius: 0.6rem;
  min-height: 660px;
  object-fit: cover;
}

.button {
  text-align: center;
  padding: 1.3rem 2rem;
  background: #e7cccc;
  border-radius: 0.6rem;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button h3 {
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  background: #dbc8c8;
}

/* person container */

.person__content__container {
  min-height: 100vh;
}

@media (max-width: 1500px) {
  .service__item__image__container img {
    min-height: 620px;
  }
}

@media (max-width: 1400px) {
  .service__content__container {
    margin-top: 4rem;
    gap: 2rem;
  }
  .service__item__image__container {
    width: 100%;
  }
  .service__container__header {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .service__content__container {
    grid-template-columns: 1fr 1fr;
  }
  .person__content__container button svg {
    font-size: 2rem;
    opacity: 0.5;
  }
  .service__container__header {
    font-size: 2rem;
  }
  .service__container__header::after {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .service__item__image__container {
    width: 100%;
  }

  .service__container {
    padding: 4rem 9%;
  }
  .service__content__container {
    margin-top: 3rem;
    grid-template-columns: 1fr;
  }
  .service__item__container {
    padding: 1rem;
  }
  .service__item__image__container img {
    min-height: 0;
  }

  .service__container__header::after {
    width: 90%;
  }
  .button {
    padding: 1.1rem 1.5rem;
  }
}
